body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header, footer {
    color: rgb(9, 0, 0);
    text-align: center;
    padding: 10px 0;
}


footer {
    background-color: grey;
    position: relative;
    width: 100%;
    bottom: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(9, 0, 0);
    text-decoration: none;
}

main {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

form input[type="submit"], form input[type="reset"] {
    width: 150px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
    background-color: #45a049;
}
